:root {
  --first-color-logo: #4d5ae5;
  --second-color-logo: #2e2f42;
  --background-color: #ffffff;
  --fond-family-color: #434455;
  --logo-color-on-dark: #f4f4fd;
  --background-color-footer: #2e2f42;
  --background-color-hero: #2e2f42;
  --secondary-title-color: #2e2f42;
  --text-description-color: #434455;
  --color-button-portfolio: #4d5ae5;
  --backgraund-color-button-portfolio: #f4f4fd;
  --border-color: #e7e9fc;
  /* Сброс */
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
/* //////////////////////////// */

body {
  font-family: "Roboto", sans-serif;
  color: var(--fond-family-color);
  font-style: normal;
  background-color: var(--background-color);
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Компоненты */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.secondary-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-bottom: 8px;
}
.text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-description-color);
}

/* Шапка */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color-logo);
}
.element {
  color: var(--second-color-logo);
}
.header-container {
  display: flex;
}
.navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.address-display {
  display: flex;
  gap: 40px;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.contact-position {
  margin-right: 40px;
}
.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color-logo);
  padding: 24px 0;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fond-family-color);
}
.address {
  font-style: normal;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
/* Заголовок, главный экран */
.hero-titel {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  padding: o 472px 0 472px;
  margin: 0 auto;
}
.container-hero-position {
  /* background-color: var(--background-color-hero);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); */
}
.section-hero {
  background-color: var(--background-color-hero);
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
}
.button:hover,
.button:focus {
  background: #404bbf;
}

/* Презентация и специалисты*/
.section-strategies {
  padding: 120px 0;
}
.list-strategies {
  display: flex;
  gap: 24px;
}
.element-styles {
  width: calc((100% - 72px) / 4);
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.list-presentation {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.section-presentation {
  padding-bottom: 120px;
}
.secondary-title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 72px;
}
.list-specialist {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.section-specialist {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.bottom-background {
  background-color: #ffffff;
}
.foto-specialist {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.description-specialist {
  padding: 32px 16px;
}
.title-specialist {
  text-align: center;
}

.text-specialist {
  text-align: center;
}
.social {
  padding: 32px 0;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-icon {
  width: 40px;
  height: 40px;
}
.social-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-list-link:hover,
.social-list-link:hover {
  background-color: #404bbf;
}
.social-icon-link {
  fill: #f4f4fd;
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-titel {
  font-size: 36px;
  line-height: 1.1;
  color: var(--secondary-title-color);
  margin-bottom: 72px;
  text-align: center;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-icon {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center; 
  display: flex;
  justify-content: center;
  color: #8e8f99;
}
.customers-link:hover,
.customers-link:focus{
  border-color: #404bbf; 
  color: #404bbf;
  border-color: #404bbf;
  color: #404bbf;
}
.customers-img{
  fill: currentColor;
  
}
/* Футер */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color-logo);
  margin-right: 76px;
}
.element-on-dark {
  color: var(--logo-color-on-dark);
}
.footer {
  background-color: var(--background-color-footer);
  padding: 100px 0;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-color-on-dark);
  max-width: 264px;
}
.logo-futer {
  display: inline-block;
  margin-bottom: 16px;
}
/* Кнопки портфолио */
.foter-container{
  display: flex;
  align-items: baseline;
  }
.container-first{
  margin-right: 120px
}
.container-second{
justify-content: center;
}
.cocial-media{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 16px;
}
.cocial-media-list{
  display: flex;
  gap: 16px;
}
.cocial-media-link{
  width: 40px;
  height: 40px;
}
.cocial-media-link-footer{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .cocial-media-link-footer:hover,
  .cocial-media-link-footer:focus{
    background-color: #31d0aa;
    background-color: #31d0aa;
  }
.list-button-properties {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-button-portfolio);
  background-color: var(--backgraund-color-button-portfolio);
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: block;
  }
.list-button-properties:hover,
.list-button-properties:focus {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cocial-media-icon{
  fill:#f4f4fd;
  
}
.list-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.section-nav {
  padding: 96px 0 120px;
}
.list-gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.element-gallery {
  width: calc((100% - 48px) / 3);
}
.link-gallery {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
  margin-bottom: 8px;
}
.button-decoration{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}
.button-decoration:focus{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ////////////////////////// */
